<h1>id: <%= @task.id %> のタスクリストの詳細ページ</h1>

<p>ステイタス: <%= @task.status %></p>
<p>タスクリスト: <%= @task.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このタスクリストを編集する', edit_task_path(@task) %>
<%= link_to 'このタスクリストを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
