<h1>id: <%= @task.id %> のタスクリストの詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>ステイタス</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'このタスクリストを編集する', edit_task_path(@task), class: 'btn btn-light' %>
<%= link_to 'このタスクリストを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
